/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

div.change-city-modal, div.arctic-modal-confirm{
	background: #fff; 
	position: relative;
	border: 2px solid black; 
	padding: 19px 21px;
	min-width: 350px;
}

div.change-city-modal p.hl{
	margin-bottom: 5px;
	border-top: 2px solid black; 
}
div.change-city-modal p.title-change-city{

}

div.change-city-modal a{
	font-weight: bold;
}

div.change-city-modal a.first_city_link{
	font-size: 18px;
}

div.change-city-modal p.letter-city{
	margin-bottom: 0px;
}

#header .middle-h-row .center_block{
	padding-right: 18px;
}
#header .middle-h-row td.city-change{
	padding-right: 18px;
}

div.phone_block div.city-change{
    display: inline-block;
    padding-left: 13px;
    top: 1px;
    position: relative;
}
div.phone_block div.city-change a{
	font-weight: bold;
}

div#basket_line{
	float: right;
}

@media all and (max-width: 767px) {
	#header .middle-h-row td.city-change{
		padding-left: 18px;
	}
}

@media all and (max-width: 430px) {
	div.change-city-modal, div.arctic-modal-confirm{
		min-width: 214px;
	}
}

#header .middle-h-row td.city-change a.head-link-city, 
div.city-change span.city-info-header{
	font-weight: bold;
	color: black; 
}
#header .middle-h-row td.city-change a.head-link-city:hover{
	text-decoration: underline!important;
}
.wrapper .header_wrap  #header .middle-h-row .logo_wrapp .logo a{
	background: none;
}
#header .middle-h-row .logo_wrapp .logo a img{
    width: 215px;
    height: 97px;
   
}
div.wrap-personal-links{
	/*position: absolute;*/
	top: 0px;
	left: 0px;
	min-width: 151px;
}
div.wrap-personal-links div.module-enter.have-user, div.wrap-personal-links div.module-enter.no-have-user{
	white-space: nowrap;
}
#header .middle-h-row .basket_wrapp{
	position: relative;
}
div.wrap-personal-links a span{
	font-weight: bold;
}
div.wrap-personal-links a{
	padding-right: 15px;
}
p.title-modal{
	font-weight: bold;
    color: black;
    font-size: 15px;
}
div.arctic-modal-confirm{
	text-align: center;
}
div.arctic-modal-confirm a.confirm-button{
	background: black;
    color: white;
    padding: 8px;
    text-transform: uppercase;
    margin-left: 10px;
    display: inline-block;
}
table.section_list_bottom_aspro tr td{
	padding: 0px;
}

 /*.ajax_load.table .main_item_wrapper div.counter_wrapp>div*/

body .ajax_load.table table.section_list_bottom_aspro .main_item_wrapper div.counter_wrapp>div{
	margin: 6px 0px;
}

table.module_products_list.section_list_bottom_aspro tr td a{
	font-size: 10px;
}

table.section_list_bottom_aspro div.more_text{
	display: none;
}

/* .sale-order-detail-payment-options-methods-image-element,  */.sale-order-detail-payment-options-shipment-image-element{
	background-size: 120px;
}
div.r.close-city-wrap{
	display: inline-block;
    float: left;
}
.top-h-row .h-user-block a.auth-link-register{
	padding-right: 0px;
}

table.module_products_list.section_list_bottom_aspro tr td a.auth_button_catalog{

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-transform: none;
    background: #ddd;
    color: #000;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    padding: 8px 11px 9px;
    display: inline-block;
    border: none;
    outline: 0;
    position: relative;
    font-family: Ubuntu,Arial,Helvetica,sans-serif;
    width: auto;
    vertical-align: middle; 

    border-color: #1a1a1a;
    background: #1a1a1a;
    color: #fff;
    margin: 6px 0px;
}

a.auth_button_catalog_block{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;	
	border-color: #1a1a1a;
    background: #1a1a1a;
    color: #fff;
    margin: 6px 0px;
    width: 100%;
    font-weight: bold;
    position: relative;
    display: inline-block;
    font-size: 13px;
    padding: 6px 0px;
}
a.auth_button_catalog_element{
    border-radius: 2px;
    border-color: #1a1a1a;
    background: #1a1a1a;
    color: #fff;
    margin: 6px 0px;
    height: auto;
    font-weight: bold;
    position: relative;
    display: inline-block;
    font-size: 13px;
    padding: 15px 30px;
}

div.iblock.text_block.org-description-registration{
    padding-top: 35px;
}
div.iblock.text_block.city-description-registration{
    padding-top: 23px;
}

div.header_wrap .top-h-row .phones{
    float: right;
    padding-right: 24px;
}

#bx-soa-order #bx-soa-region .bx_soa_location .form-group[data-property-id-row='6'],
#bx-soa-order #bx-soa-region .bx_soa_location .form-group[data-property-id-row='18']{
    display: none;
}
/*.basket_normal .basket_wrapp .wrapp_all_icons.wrap-basket-header{
	width: 61px;
}*/
/*.basket_normal .basket/*_wrapp .wrapp_all_icons.wrap-basket-header .text.f-left{
	display: none;
}*/