div.create-new-city{
    padding: 0px 15px 15px 15px;
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #ced7d8;
}
div.information{
    padding: 15px 15px 15px 15px;
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #ced7d8;    
    display: none;
}

div.information.error{
    color: red;
}

div.information.success{
    color: green;
}

label.lable-create-inputs{
    display: inline-block;
    width: 175px; 
}

div.city-list{
    margin-top: 30px;
}

div.city-list div.item-city-list{
    padding: 0px 15px 15px 15px;
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #ced7d8;
    margin-bottom: 15px;
}
div.city-list div.item-city-list a.city-button{
    text-decoration: none;
    border-radius: 15px;
    padding-bottom: 3px;
    display: inline-block;
}

h3.title-list-items{
    padding-left: 15px;
}

span.test_connect_info{
    position: relative;
    top: -2px;
    padding-left: 12px;
    font-size: 11px;
    display: none;
}


span.test_connect_info.red{
    color: red;
}

span.test_connect_info.green{
    color: green;
}

div.city-list div.item-city-list p.temp-block{
    display: none;
}

div.city-list div.item-city-list.change{
    background: beige;
}
span.input-password, span.input-login{
    display: none;
}

div.modal-window-property{
    background: #ffffff;
    border: 2px solid black; 
    padding: 15px;
    position: relative;
}
a.close-button{
    position: absolute;
    top: 2px;
    right: 2px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
div.ajax-container-binds{
    padding: 8px 2px 2px 2px;
}

div.header-binds-table span.h-title{
    display: inline-block;
    width: 50%;
    text-align: center;
    font-weight: bold;
}

div.header-binds-table{
    margin-bottom: 7px;
}
div.bind-line{
    margin-bottom: 8px;
}
a.small-window-link{
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    padding: 2px 7px;
}
a.small-window-link:hover{
    color: #fff;
    background: #000; 
}
p.messsage-line-prices, 
p.messsage-line-stores{
    text-align: center;
    color: green;
    font-weight: bold;
}
div.wrap-log-list{
    background: white;
}